<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="ArollAvengers" />

   <!-- TODO feedburner -->
   <!--link href="http://feeds.feedburner.com/arnauld-github" rel="alternate" title="Arnauld Github" type="application/atom+xml" /-->

   <script src="/scripts/jquery-1.7.1.min.js"></script>
   <script src="/scripts/bootstrap-modal.js"></script>
   <script src="/scripts/bootstrap-alerts.js"></script>
   <script src="/scripts/bootstrap-twipsy.js"></script>
   <script src="/scripts/bootstrap-popover.js"></script>
   <script src="/scripts/bootstrap-dropdown.js"></script>
   <script src="/scripts/bootstrap-scrollspy.js"></script>
   <script src="/scripts/bootstrap-tabs.js"></script>
   <script src="/scripts/bootstrap-buttons.js"></script>

   <script src="/scripts/jquery.collapse.js"></script>
   <script src="/scripts/jquery.cookie.js"></script>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Bootstrap  - twitter CSS -->
   <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen, projection" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css' -->
   <link href='/css/BangersFont.css' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="site">
  <div>
    <h1 class="title">
      <a href="/"><span class="char1"><b>A</b></span><span class="char2">r</span><span class="char3">o</span><span class="char4">l</span><span class="char5">l</span><span class="char6"><b>A</b></span><span class="char7">v</span><span class="char8">e</span><span class="char9">n</span><span class="char10">g</span><span class="char11">e</span><span class="char12">r</span><span class="char13">s</span></a>
    </h1>

  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <address>
        <a href="http://github.com/arollavengers/">http://github.com/arollavengers</a> &nbsp;
        <a href="http://twitter.com/arollavengers/">twitter.com/arollavengers</a> &nbsp;
      </address>
    </div>
  </div>
</div>

<a href="http://github.com/Arollavengers"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<script>
  $(function () {
    $("a[rel=twipsy]").twipsy({
      live: true,
      animate: false
    })
  });
</script>
</body>
</html>
